/*   
Chelmsford Makerspace CSS.
Originally by Ben Orrin.
Modifications and updates by Richard Raybould.
*/

@media screen {

* { margin: 0; padding: 0; }
body { 
background: white;
font: 14px/1.4 Tahoma, Helvetica, Arial;
color:#3F3F3F;
height:100%;
}
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */

#page-wrap { width: 960px; margin: 20px auto; }

h1, h2, h3 { font-weight: normal; margin: 0 0 10px 0; }
h1 { }
h2 { }
h3 { }

p { margin: 0 0 10px 0; }
a { color:#6d00b2; text-decoration:none; }
a:hover { color:#9A48CD; } 

blockquote { }
blockquote p { }

ul, ol { margin: 0 0 10px 0; }

.top{
background:#6d00b2;
height:5px;
}

.footer{
clear: both;
 position: relative;
 z-index: 10;
 height: 3.5em;
 margin-top: -3.5em;
border-top:1px solid #D0D0D0;
margin-top:25px;
background:#E9E9E9;
padding-top:10px;
padding-bottom:25px;
font-size:7pt;
color:#5A5A5A;
position:absolute;
bottom:0;
left:0;
width:100%;
}

input[type=text]{
width:250px;
height:30px;
}

.pagecontainer{
width:960px;
margin-left:auto;
margin-right:auto;
margin-bottom:25px;
}

.header{
	margin-top: 20px;
	padding-left: 0px;
	margin-bottom:10px;
	background-image: url(/img/banner.png);
	background-color: transparent;
	background-size: 250px 86px;
	background-repeat:no-repeat;
	background-position: left center; 
	height: 92px;
	width: 250px;
}

.nav li{
list-style:none;
font-size: 12pt;
border-bottom:1px solid #AAAAAA;
padding-top:3px;
padding-bottom:3px;
padding-left:10px;
}

.content{
width:670px;
float:right;
padding-left:20px;
margin-bottom:25px;
}

.social{
margin-bottom:10px;
height:32px;
}

.nav li:hover{
background:#6d00b2;
color:white;
}

.twitter {
float: left;
width: 83px;
height: 36px;
background: #3CF;
background-image:url('/img/white_twitter_bird.png');
background-repeat:no-repeat;
background-position: left center; 
}

.mail {
float: left;
width: 83px;
height: 36px;
background: #C92C19;
background-image:url('/img/white_mail.png');
background-repeat:no-repeat;
background-position: left center; 
}

.facebook {
float: left;
width: 83px;
height: 36px;
background: #3B5998;
background-image:url('/img/white_facebook.png');
background-repeat:no-repeat;
background-position: left center; 
}

.nav a{
color:inherit;
text-decoration:none;
}

.nav a:hover{
color:white;
}

.nav{
background:#E4E4E4;
width:250px;
float:left;
padding:10px;
}

.post {
padding-bottom: 25px;
}

.entry { }
.entry a { }
.entry a:hover { }

pre { }
code, tt { }

.meta{
font-size:10pt;
color:#ABABAB;
}


} /* END screen media */


@media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
.header{
	margin-top: 20px;
	padding-left: 0px;
	margin-bottom: 10px;
	background-image: url(/img/banner@2x.png);
	background-color: transparent;
	background-size: 250px 86px;
	height: 92px;
	width: 250px;
	background-repeat: no-repeat;
	background-position: left center; 
}


}


@media print {

.do-not-print { display: none; }
#comments { page-break-before: always; }

body { width: 100% !important; margin: 0 !important; padding: 0 !important; line-height: 1.4; word-spacing: 1.1pt; letter-spacing: 0.2pt; font-family: Garamond,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; }
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 19pt; }
h2 { font-size:17pt; }
h3 { font-size:15pt; }
h4,h5,h6 { font-size:12pt; }
code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em; }
img { display: block; margin: 1em 0; }
a img { border: none; }
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th, td { padding: 4px 10px 4px 0; }
caption { background: #fff; margin-bottom: 2em; text-align: left; }
thead { display: table-header-group; }
tr { page-break-inside: avoid; } 
a { text-decoration: none; color: black; }
	
} /* END print media */