/*   
Chelmsford Makerspace CSS.
Based on a simple two column CSS layout by Roger Johansson.
Style originally by Ben Orrin.
Complete rewrite, modifications and updates by Richard Raybould.
*/

@media screen {

* { margin: 0; padding: 0; }

body,html {
	margin:0;
	padding:0;
	background: white;
	font: 14px/1.4 Tahoma, Helvetica, Arial;
	color:#3F3F3F;
	height: 100%;
}

p {
margin: 0 0 10px 0;
}
a { color:#6d00b2; text-decoration:none; }
a:hover { color:#9A48CD; } 
h1, h2, h3 { font-weight: normal; }
h1 { margin:0; }

.meta{
font-size:10pt;
color:#ABABAB;
}

ul, ol { margin: 0 0 10px 0; }

.top{
background:#6d00b2;
height:5px;
}

#wrap {
	width:960px;
	min-height: 96.75%;
	height: auto !important;
	margin-right: auto;
	margin-bottom: -85px; /* the bottom margin is the negative value of the footer's height */
	margin-left: auto;
}

.header{
	margin-top: 20px;
	margin-bottom: 10px;
	background-image: url(/img/banner.png);
	background-color: transparent;
	background-size: 250px 86px;
	background-repeat:no-repeat;
	background-position: left center; 
	height: 92px;
	width: 250px;
}

.announce {
	padding:5px 10px;
	background:#c99;
}

.announce ul {
	margin:0;
	padding:0;
	list-style:none;
}

.announce li {
	display:inline;
	margin:0;
	padding:0;
}

.content {
	float:right;
	width:670px;
	padding-left:20px;
	margin-bottom:25px;
}

h2 {
	margin:0 0 1em;
}

.nav {
	float:left;
	background:#E4E4E4;
	width:250px;
	float:left;
	padding:10px;
}
.social{
margin-bottom:10px;
height:32px;
}

.nav li{
list-style:none;
font-size: 12pt;
border-bottom:1px solid #AAAAAA;
padding-top:3px;
padding-bottom:3px;
padding-left:10px;
}

.nav li:hover{
background:#6d00b2;
color:white;
}

.twitter {
float: left;
width: 83px;
height: 36px;
background: #3CF;
background-image:url('/img/white_twitter_bird.png');
background-repeat:no-repeat;
background-position: left center; 
}

.mail {
float: left;
width: 83px;
height: 36px;
background: #C92C19;
background-image:url('/img/white_mail.png');
background-repeat:no-repeat;
background-position: left center; 
}

.facebook {
float: left;
width: 83px;
height: 36px;
background: #3B5998;
background-image:url('/img/white_facebook.png');
background-repeat:no-repeat;
background-position: left center; 
}

.nav a{
color:inherit;
text-decoration:none;
}

.nav a:hover{
color:white;
}

.post {
padding-bottom:25px;
}

.footer {
	clear:both;
	background:#cc9;	
	border-top:1px solid #D0D0D0;
	background:#E9E9E9;
	font-size:7pt;
	color:#5A5A5A;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
}

#footer p {
	margin:0;
}

* html #footer {
	height:1px;
}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
.header{
	margin-top: 20px;
	margin-bottom: 10px;
	background-image: url(/img/banner@2x.png);
	background-color: transparent;
	background-size: 250px 86px;
	background-repeat:no-repeat;
	background-position: left center; 
	height: 92px;
	width: 250px;
}