---
layout: default
title: News
---
<div class="twelve columns">
<h1>News <small>Things that have been or will be going on.</small>
<hr />
</div>

    <!-- Content -->
    <div class="nine columns" role="content">
        {% for post in site.posts %}      
         {% if post.categories contains 'news' %}
         <article>
           <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
           <h6>Date: {{ post.date | date_to_long_string }}</h6>
              {{ post.content | split:'<!--break-->' | first }}
        		{% if post.content contains '<!--break-->' %}
        		 <a href="{{ post.url }}">Read more…</a>
        		{% endif %}
         </article>
 
         <hr/>
         {% endif %}
        {% endfor %}
    </div>

    <!-- End Content -->

    <!-- Sidebar -->

    <aside class="three columns">

      <div class="panel callout">
        <h5>Upcoming events</h5>
        <p>All upcoming events are listed over in our calendar.</p>
        <a href="/calendar">Calendar &rarr;</a>
      </div>

    </aside>

    <!-- End Sidebar -->


