<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% if page.title %} {{ page.title }} | {% endif %} Chelmsford Makerspace</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
	<div class="top"></div>
	<div class="pagecontainer">
		<a href="/">
			<a href="/" title="Chelmsford Makerspace"><div class="header"></div></a>
		</a>
	<div class="nav">
	<div class="social">
		<a href="https://facebook.com/ChelmsfordHackerspace" title="Facebook"><div class="facebook"></div></a>
		<a href="https://twitter.com/cm_makerspace" title="Twitter"><div class="twitter"></div></a>
		<a href="https://groups.google.com/forum/#!forum/chelmsford_makerspace" title="Mailing List"><div class="mail"></div></a>
</div>
    	<ul>
      		<li><a href="/about/index.html">About</a></li>
      		<li><a href="/news/index.html">News</a></li>
      		<li><a href="http://chelmsfordmakerspace.co.uk/wiki">Wiki</a></li>
      		<li><a href="/blogs/index.html">Member Blogs</a></li>
      		<li><a href="/membership/index.html">Membership</a></li>
      		<li><a href="/calendar/index.html">Calendar</a></li>
      		<li><a href="/donate/index.html">Donate</a></li>
      	</ul>
</div>

<div class="content">
	{{ content }}		
</div>

</div>
<div class="footer">
<center>
Chelmsford Makerspace is a Non-profit Organisation.<br/>
<a href="https://twitter.com/cm_makerspace">Twitter</a> | <a href="https://facebook.com/ChelmsfordHackerspace">Facebook</a> | <a href="https://groups.google.com/forum/#!forum/chelmsford_makerspace">Google Group</a> | <a href="https://chelmsfordmakerspace.co.uk/wiki">Wiki<a/>

</center>
	</div>
	
</body>

</html>