<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% if page.title %} {{ page.title }} | {% endif %} Chelmsford Makerspace</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/style.css" type="text/css">
	<meta name="description" content="Chelmsford Makerspace is a non-profit, community-run workshop in Chelmsford. We provide a space where people who make things can come to share tools and knowledge.">
	<meta name="copyright" content=">Creative Commons Attribution 3.0 Unported">
	<meta name="author" content="Richard Raybould">
</head>
<body>
<div class="top"></div>
<div id="wrap">
	<a href="/" title="Chelmsford Makerspace"><div class="header"></div></a>
		<!--<div class="announce">
			We're taking a few weeks off due to Scout Hut floor repair and holidays, we'll be back in the new year, probably on the 8th but we'll let everyone know!
		</div>-->
			<div class="content">{{ content }}</div>
	<div class="nav">
	<div class="social">
		<a href="https://facebook.com/ChelmsfordHackerspace" title="Facebook"><div class="facebook"></div></a>
		<a href="https://twitter.com/cm_makerspace" title="Twitter"><div class="twitter"></div></a>
		<a href="https://groups.google.com/forum/#!forum/chelmsford_makerspace" title="Mailing List"><div class="mail"></div></a>
</div>
    	<ul>
      		<li><a href="/about">About</a></li>
      		<li><a href="/news">News</a></li>
      		<li><a href="/info">Member Information</a></li>
      		<li><a href="/membership">Membership</a></li>
      		<li><a href="/calendar">Calendar</a></li>
      		<li><a href="/donate">Donate</a></li>
      	</ul>
	</div>
</div>
<div class="footer">
	<div>Chelmsford Makerspace is a Non-profit Organisation.</div>
	<div><a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_GB"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png"></a></div>
	<div>This site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_GB">Creative Commons Attribution 3.0 Unported License</a> (Except where noted).</div>
	<div>Fork and submit improvements on <a href="https://github.com/ChelmsfordMakerspace/chelmsfordmakerspace.github.com">GitHub</a>.</div>
</div>

</body>
</html>