<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% if page.title %} {{ page.title }} | {% endif %} Chelmsford Makerspace</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
	<div class="top"></div>
	<div class="pagecontainer">
	<div class="header">
		<a href="/">
			<img src="/img/banner.png" width="250px" alt="Chelmsford Makerspace logo">
		</a>
	</div>
	<div class="nav">
	<div class="social">
		<a href="http://www.facebook.com/ChelmsfordHackerspace">
			<div class="facebook">
				<img src="/img/white_facebook.png" alt="facebook">
			</div>
		</a>
		<a href="http://www.twitter.com/cm_makerspace">
			<div class="twitter">
				<img src="/img/white_twitter_bird.png" alt="twitter">
			</div>
		</a>
	<div class="rss">
		<img src="/img/white_rss.png" alt="rss">
	</div>

</div>
    <div id="text-2" class="widget widget_text">
    <div class="textwidget"><ul>
<li><a href="/about">About</a></li>
<li><a href="/news">News</a></li>
<li><a href="/membership">Become a Member</a></li>
<li><a href="http://chelmsfordmakerspace.co.uk/wiki">Wiki</a></li>
<li><a href="/calendar">Calendar</a></li>
<li><a href="/donate">Donate</a></li>
</ul></div>

</div></div>

<div class="content">
	{{ content }}		
</div>

</div>
<div class="footer">
<center>
Chelmsford Makerspace is a Non-profit Organisation.<br/>
<a href="http://www.twitter.com/cm_makerspace">Twitter</a> | <a href="http://www.facebook.com/ChelmsfordHackerspace">Facebook</a> | <a href="https://groups.google.com/forum/#!forum/chelmsford_makerspace">Google Group</a> | <a href="http://chelmsfordmakerspace.co.uk/wiki">Wiki<a/>

</center>
	</div>
	
</body>

</html>