---
layout: default
---

<div class="twelve columns">
<a href="/news/"><h1>News</a> <small>Things that have been going on.</small>
<hr />
</div>

<div class="nine columns" role="content">
	<h2 class="title">{{ page.title }}</h2>
	<p class="meta">{{ page.date | date_to_long_string }}</p>
	<div class="entry">
		{{ content }}
	<br/>
	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
     
</div>

<aside class="three columns">
        
  <!-- Todo: Add a post sidebar -->

</aside>