---
layout: default
---

<div class="twelve columns">
<a href="/news/"><h1>News</a> <small>Things that have been going on.</small>
<hr />
</div>

<div class="nine columns" role="content">
	<h2 class="title">{{ page.title }}</h2>
	<p class="meta">{{ page.date | date_to_long_string }}</p>
	<div class="entry">
		{{ content }}
	<br/>
	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
     
</div>

<aside class="three columns">
        
  <h5>Categories</h5>
  <ul class="side-nav">
    <li><a href="#">News</a></li>
    <li><a href="#">Code</a></li>
    <li><a href="#">Design</a></li>
    <li><a href="#">Fun</a></li>
    <li><a href="#">Weasels</a></li>
  </ul>

  <div class="panel">
    <h5>Featured</h5>
    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
    <a href="#">Read More &rarr;</a>
  </div>

</aside>